body {
  background-color: rgb(255, 240, 238);
}
#scoreBoard {
  font-family: Arial Arial, Helvetica, sans-serif;
  font-size: 15pt;
  color: rgb(4, 218, 146);
  font-weight: bold;
  position: absolute;
  top: 10px;
  
  height: 25px;
  margin-top: 2px;
  
}

#pageTitle {
  margin-top: 12px;
  font-family: Arial Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: bold;
  color: navy;
  position: absolute;
  top: 35px;
  left: 10px;
  height: 25px;
}

#gameArea {
  position: absolute;
  top: 75px;
  left: 10px;
  border: 2px navy solid;
  background-image: url("black-orchid.png")
}

#point {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: rgb(246, 246, 7);
  width: 64px;
  height: 64px;
  border: 3px solid rgb(255, 83, 83);
}
